@{
    ViewBag.Title = "ImVader Demo";
    ViewBag.BodyOnLoad = "onPageLoaded();";
    ViewBag.DisplayFooter = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    <link rel="stylesheet" href="~/Content/demo.css" />
    <link href="http://visjs.org/dist/vis.css" rel="stylesheet" type="text/css" />

    <!-- Third-party Libs -->
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="http://visjs.org/dist/vis.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- ourLibs -->
    <script src="~/External/vkConnection.js" type="text/javascript"></script>
    <script src="~/External/graph.js" type="text/javascript"></script>
    <script src="~/External/spinner.js" type="text/javascript"></script>
    <script src="~/External/util.js" type="text/javascript"></script>
    <script src="~/External/toolTips.js" type="text/javascript"></script>

}

<div id="loading" class="hidden">
    <div id="splash" class="page-splash"></div>
    <div id="spinner" class="spinner"></div>
</div>

<div style="margin: 50px auto; display: table;" id="login_button" onclick="VK.Auth.login(authInfo);"></div>

<div id="demo-content" class="hidden">
    <div id="user_info" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 id="user_name" class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="user_pic" class="col-md-3 col-lg-3 "></div>
                    <div class=" col-md-9 col-lg-9 ">
                        <div>
                            <span><b>User ID: </b></span>
                            <span id="user_id"></span>
                        </div>
                        <div>
                            <span><b>Gender: </b></span>
                            <span id="user_gender"></span>
                        </div>
                        <br />
                        <button onclick="getFriends()" class="btn btn-primary" id="getFriendsButton">
                            Get friends
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="algorithms" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sidemenu">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Actions</h3>
            </div>
            <div class="panel-body">
                <div class="panel-group accordion" id="accordion">
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" id="">
                                    <span class="marker"></span>
                                    <span id="set-default"> Reset options</span>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseZero" style="height: 0;">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 vmar-5">
                                    <a class="btn btn-primary" id="set-default-btn">Reset graph visual options</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed" id="">
                                    <span class="marker"></span>
                                    <span id="dijkstra"> Dijkstra</span>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseOne" style="height: 0;">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 vmar-5">
                                    <a class="btn btn-primary" id="find-shortest-path">Start selection</a>
                                    <br /><br />
                                    <a class="btn btn-warning" id="find-shortest-path-start">Vertices to select: 2</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" id="">
                                    <span class="marker"></span>
                                    <span id="mst"> MST</span>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseTwo" style="height: 0;">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 vmar-5">
                                    <a class="btn btn-primary" id="mstbtn">Build minimal spanning tree</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <span class="marker"></span>
                                    <span id="saveload"> Save & Load</span>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse " id="collapseThree" style="">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 vmar-5">
                                        <div id="drop_zone">Drop files here</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 ">
                                        <a download="mygraph.txt" id="downloadlink" class="btn btn-primary" href="javascript: makeTextFile();">
                                            Download graph
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <span class="marker"></span>
                                    <span id="min-cuts">Minimum cuts</span>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseFour" style="height: 0;">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 vmar-5">
                                    <a class="btn btn-primary" id="findMinCutButton">Find best cut</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed">
                                    <span class="marker"></span>
                                    <span id="strong-comp">Strong components</span>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseFive" style="height: 0;">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 vmar-5">
                                    <a class="btn btn-primary" id="strong">Highlight strong components</a>
                                    <div id="find-shortest-path-tooltip" style="text-align: center"></div>
                                    <a class="btn btn-primary hidden" id="strong-start">Highlight strong components</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed">
                                    <span class="marker"></span>
                                    <span id="top-sort">Topological Sort</span>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseSix" style="height: 0;">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 vmar-5">
                                    <a class="btn btn-primary" id="topological">Sort</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End accordion item -->
                </div>
                <button onclick="logout()" class="btn btn-primary" id="logoutButton">
                    Log out
                </button>
            </div>
        </div>
    </div>

</div>
<div id="graph_place"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Welcome to IMVADER demo page</h4>
            </div>
            <div class="demoModalBody">
                <div style="margin:3px">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Login</a></li>
                        <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Get friends</a></li>
                        <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">View graph</a></li>
                        <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Actions</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            To start demo log in into your vk account
                            <img src="~/Images/DemoPage/login.jpg" alt="login">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            To load your friends to visualize graph click "Get friends" button on the left
                            <img src="~/Images/DemoPage/getfriends.jpg" alt="getfriends">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            You will get visualized graph similar to this
                            <img src="~/Images/DemoPage/friends.png" alt="friends">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            Use "Actions" to manage your graph and operate on it
                            <img src="~/Images/DemoPage/actions.jpg" alt="actions">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>