
@{
    /*ViewBag.Title = "Demo";*/
    Layout = null;//TODO:
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>

    <link rel="stylesheet" href="~/Content/style.css" />

    <!-- Third-party Libs -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>

    <!-- Selfwritten lib -->
    <script src="~/Scripts/vkConnection.js" type="text/javascript"></script>

</head>
<body onload="onPageLoaded();">
    <div id="login_button" onclick="VK.Auth.login(authInfo);"></div>
    <div id="vk_greetings" class="hidden">Test</div>
    <div id="vk_friends_json" class="hidden bordered smallFont"></div>
</body>
</html>