@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>IMVADER</h1>
        <p class="lead">IMVADER is an algorithmic graph library build with and for C# applications .</p>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Structure and documentation
            </p>
            <p><a class="btn btn-default" href="~/VSdoc/index.html">Learn More</a></p>
        </div>
        <div class="col-md-4">
            <h2>Download</h2>
            <p>
                Download the libary and start building your applications
            </p>
            <p><a class="btn btn-default" href="http://ge.tt/api/1/files/3xHQFR22/0/blob?download">Download Library</a></p>
        </div>
        <div class="col-md-4">
            <h2>Demo</h2>
            <p>
                See the demo usage of the IMVADER lib in a web project
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Demo","Home")">DEMO</a></p>
        </div>

    </div>
</div>