@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container"  style="min-height: 800px"id="container">
    <h1>@ViewBag.Message</h1>
    <p>@Html.ActionLink("Back to contact page", "Contact", "Home")</p>
</div>