
.hidden
{
    display:none;
}
.visible
{
    display: block;
}
.bordered
{
    border: 1px solid black;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{
    margin-top:20px;
}

.smallPicture{
    height:140px;
    width:95px;
}

.absolute{
    position: absolute;
    top:0;
    left:0;
    width:500px;
    height:250px;
    z-index: 100;
}

.relative{
    position:relative;
    z-index:5;
}

/*//spinner*/
.page-splash {
    z-index: 99999 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -ms-opacity: .9;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.spinner{
    position: fixed;
    top: 45%;
    left: 45%;
}.hidden
{
    display:none;
}
.visible
{
    display: block;
}
.bordered
{
    border: 1px solid black;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{
    margin-top:20px;
}

.smallPicture{
    height:140px;
    width:95px;
}
.relative{
    position:relative;
    z-index:5;
}

/*//spinner*/
.page-splash {
    z-index: 99999 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -ms-opacity: .9;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.spinner{
    position: fixed;
    top: 45%;
    left: 45%;
}
.graph-container {
    border-left: 1px solid #212c43;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

#downloadlink {
    margin-top: 15px;
}
a.btn {
   width: 100%;
    padding: 5px;
}

@media(max-width: 1023px) {
    #demo-content {
        height: auto;width: 100%;float: none
    }
    #graph_place {
        width: 100%;min-height: 600px;position: inherit;left: 0
    }
}
@media(min-width: 1024px) {
    #demo-content {
        height: 100%;width: 30%;float: left
    }
    #graph_place {
        width: 70%;height: 100%;position: fixed;left: 30%
    }
}